html,body{height:100%}
h2{ color: red;font-size: 36;}
p{color: blue; font-family: monospace;}
#titulo-1{font-style: italic; }
#titulo-2{font-weight: 900; }
.base{border: 2px dashed orangered;
 padding: 1em 2em 3em 4em;
 margin: 4em 3em 2em 1em;}
.ultimo{color: green;}
p.ultimo{color: blueviolet;}
.par.ultimo{font-weight: bold;}
h2,h3{color: cornflowerblue;font-size: 36;}
.base > h2{text-align: right;}
.base > p.par > span, .base h2{text-decoration: underline;}
.base.ejemplo{font-family: sans-serif;}
